@model WebApplication1.Models.Prestamos

@{
    ViewBag.Title = "Edit";
}

<h2>Editar</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Prestamos</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.PrestamosID)

        <div class="form-group">
            @Html.LabelFor(model => model.PrestamosFecha, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="date" class="form-control" name="PrestamosFecha" value="@Model.PrestamosFecha.ToString("yyyy-MM-dd")" />
                @Html.ValidationMessageFor(model => model.PrestamosFecha, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FechaDevolucion, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="date" class="form-control" name="FechaDevolucion" value="@Model.FechaDevolucion.ToString("yyyy-MM-dd")" />
                @Html.ValidationMessageFor(model => model.FechaDevolucion, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SociosID, "SociosID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("SociosID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.SociosID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Guardar" class="btn btn-success" /> |
                <input type="button" value="Volver a la lista" onclick="history.back()" class="btn btn-outline-info" />
            </div>
        </div>
    </div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
