@model WebApplication1.Models.Autores

@{
    ViewBag.Title = "Delete";
}

<h2>Eliminar</h2>

<h4>¿Estas seguro que quieres eliminar este Autor?</h4>
<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AutoresNombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AutoresNombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AutoresApellido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AutoresApellido)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-danger" /> |
            <input type="button" value="Volver a la lista" onclick="history.back()" class="btn btn-outline-info" />
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Styles.Render("~/Content/Site.css")
    @Scripts.Render("~/bundles/modernizr")

}