@model WebApplication1.Models.Autores

@{
    ViewBag.Title = "Details";
}

<h2>Detalles</h2>

<div>
    <h4>Autor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AutoresNombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AutoresNombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AutoresApellido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AutoresApellido)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.AutoresID } ) |
    @Html.ActionLink("Volver a la lista", "Index")
</p>
