@model WebApplication1.Models.Libros

@{
    ViewBag.Title = "Create";
}

<h2>Crear</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Nuevo Libro</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.LibrosISNB, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.LibrosISNB, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.LibrosISNB, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.LibroTitulo, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.LibroTitulo, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.LibroTitulo, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.LibroResenia, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.LibroResenia, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.LibroResenia, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.LibroFechaPublicacion, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @* <input type="date" class="form-control" name="LibroFechaPublicacion" value="@Model.LibroFechaPublicacion.ToString("yyyy-MM-dd")" />*@
             @Html.EditorFor(model => model.LibroFechaPublicacion, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.LibroFechaPublicacion, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.EstadoLibros, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EnumDropDownListFor(model => model.EstadoLibros, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.EstadoLibros, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.AutoresID, "AutoresID", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("AutoresID", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.AutoresID, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.EditorialesID, "EditorialesID", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("EditorialesID", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.EditorialesID, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.GenerosID, "GenerosID", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("GenerosID", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.GenerosID, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.seccionesID, "seccionesID", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("seccionesID", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.seccionesID, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Crear" class="btn btn-success" /> |
            <input type="button" value="Volver a la lista" onclick="history.back()" class="btn btn-outline-info" />
        </div>
    </div>

</div>
    }



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
