@model WebApplication1.Models.Libros

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Libros</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Autores.AutoresNombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Autores.AutoresNombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Editoriales.EditorialesNombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Editoriales.EditorialesNombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Generos.GenerosNombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Generos.GenerosNombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Secciones.seccionesNombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Secciones.seccionesNombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LibrosISNB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LibrosISNB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LibroTitulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LibroTitulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LibroResenia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LibroResenia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LibroFechaPublicacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LibroFechaPublicacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EstadoLibros)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EstadoLibros)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.LibrosID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
