@model IEnumerable<WebApplication1.Models.Libros>

@{
    ViewBag.Title = "Index";
}

<h2>Lista de Libros</h2>

<p>
    <a class="btn btn-success" href="/Libros/Create"><i class="fa fa-plus-circle"></i>&nbspNuevo Libro</a>
</p>
<hr />
<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Autores.AutoresNombre)
            </th>
            <th class="ocultar768">
                @Html.DisplayNameFor(model => model.Editoriales.EditorialesNombre)
            </th>
            <th class="ocultar550">
                @Html.DisplayNameFor(model => model.Generos.GenerosNombre)
            </th>
            <th class="ocultar1200">
                @Html.DisplayNameFor(model => model.Secciones.seccionesNombre)
            </th>
            <th class="ocultar550">
                @Html.DisplayNameFor(model => model.LibrosISNB)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LibroTitulo)
            </th>

            <th class="ocultar1200">
                @Html.DisplayNameFor(model => model.LibroFechaPublicacion)
            </th>
            <th class="ocultar768">
                @Html.DisplayNameFor(model => model.EstadoLibros)
            </th>
            <th></th>
        </tr>
    </thead>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Autores.AutoresNombre)
                </td>
                <td class="ocultar768">
                    @Html.DisplayFor(modelItem => item.Editoriales.EditorialesNombre)
                </td>
                <td class="ocultar550">
                    @Html.DisplayFor(modelItem => item.Generos.GenerosNombre)
                </td>
                <td class="ocultar1200">
                    @Html.DisplayFor(modelItem => item.Secciones.seccionesNombre)
                </td>
                <td class="ocultar550">
                    @Html.DisplayFor(modelItem => item.LibrosISNB)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LibroTitulo)
                </td>

                <td class="ocultar1200">
                    @Html.DisplayFor(modelItem => item.LibroFechaPublicacion)
                </td>
                <td class="ocultar768">
                    @Html.DisplayFor(modelItem => item.EstadoLibros)
                </td>

                <td>
                    <a class="btn btn-outline-secondary btn-sm" href="/Libros/Edit/@item.LibrosID"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>&nbspModificar</a>
                    <a class="btn btn-outline-danger btn-sm" onclick="EliminarLibros(@item.LibrosID)"><i class="fa fa-trash-o" aria-hidden="true"></i>&nbspEliminar</a>
                </td>

            </tr>
        }

</table>
<div>
    <a class="btn btn-info " href="~/Home/Index"><i class="fa fa-chevron-circle-left" aria-hidden="true"></i>&nbspInicio</a>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Styles.Render("~/Content/Site.css")
    @Scripts.Render("~/bundles/modernizr")

      <script>
        function EliminarLibros(librosID) {
            var eliminar = confirm("¿Estas seguro de eliminar a este Libro?");
            alert(eliminar);
            if (eliminar == true) {
                location.href = "../Libros/DeleteConfirmed/" + librosID;
            }
        }

    </script>

}