@model WebApplication1.Models.Generos

@{
    Layout = null;
}

<!DOCTYPE html>


    <div>
        <h4>Generos</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.GenerosNombre)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.GenerosNombre)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.GenerosID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Styles.Render("~/Content/Site.css")
    @Scripts.Render("~/bundles/modernizr")

}