@model IEnumerable<WebApplication1.Models.Secciones>

@{
    ViewBag.Title = "Index";
}

<h2>Listado de Secciones </h2>
<p>
    <a class="btn btn-success" href="/Secciones/Create"><i class="fa fa-plus-circle"></i>&nbspCrear sección</a>
</p>
<hr />
<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th>

                @Html.DisplayNameFor(model => model.seccionesNombre)

            </th>
            <th></th>
        </tr>
    </thead>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.seccionesNombre)
                </td>
                <td>
                    <a class="btn btn-outline-secondary btn-sm" href="/Secciones/Edit/@item.seccionesID"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>&nbspModificar</a> |
                    <a class="btn btn-outline-danger btn-sm" onclick="EliminarSeccion(@item.seccionesID)"><i class="fa fa-trash-o" aria-hidden="true"></i>&nbspEliminar</a>
                </td>
            </tr>
        }

</table>
<div>
    <a class="btn btn-info " href="~/Home/Index"><i class="fa fa-chevron-circle-left" aria-hidden="true"></i>&nbspInicio</a>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Styles.Render("~/Content/Site.css")
    @Scripts.Render("~/bundles/modernizr")

      <script>
        function EliminarSeccion(seccionID) {
            var eliminar = confirm("¿Estas seguro de eliminar a esta Sección?");
            
            if (eliminar == true) {
                location.href = "../Secciones/DeleteConfirmed/" + seccionID;
            }
        }

    </script>

}

